<!-- For loop to loop over data for card creation; for now have static cards: -->
<div class="container">
  <main class="grid">
    <!-- Note: we will eventually loop through articles here, but
    for now I've included articles with different lengths of content
    for testing out the styles. -->
    <!-- <% for (let i = 0; i <= 20; i++) { %> -->
      <article>
        <div class="text">
          <p>Here is a sentence about a really great study resource! Currently the cards need a longer sentence to render properly</p>
        </div>
        <div class="meta-text">
          <h3>Here is a sentence about a really great study resource!</h3>
          <div class="icon-username">
            <i id="comment-icon" class="fa-solid fa-user"></i><h5>@username</h5>
          </div>
        </div>
      </article>
    <article>
      <div class="text">
        <h3><%= i %></h3>
        <p>Here is a sentence about a really great study resource! Currently the cards need a longer sentence to render properly. Here is a sentence about a really great study resource!</p>
      </div>
    </article>
    <article>
      <div class="text">
        <h3><%= i %></h3>
        <p>Here is a sentence about a really great study resource! Currently the cards need a longer sentence to render properly. Here is a sentence about a really great study resource! Here is a sentence about a really great study resource!</p>
      </div>
    </article>
    <article>
      <div class="text">
        <h3><%= i %></h3>
        <p>Here is a sentence about a really great study resource! Currently the cards need a longer sentence to render properly. Here is a sentence about a really great study resource!</p>
      </div>
    </article>
    <article>
      <div class="text">
        <h3><%= i %></h3>
        <p>Here is a sentence about a really great study resource! Currently the cards need a longer sentence to render properly. I'm not really adding much to this</p>
      </div>
    </article>
    <article>
      <div class="text">
        <h3><%= i %></h3>
        <p>Here is a sentence about a really great study resource! Currently the cards need a longer sentence to render properly. Here is a sentence about a really great study resource! Here is a sentence about a really great study resource! Here is a sentence about a really great study resource! Here is a sentence about a really great study resource!</p>
      </div>
    </article>
    <article>
      <div class="text">
        <h3><%= i %></h3>
        <p>Here is a sentence about a really great study resource! Currently the cards need a longer sentence to render properly. Here is a sentence about a really great study resource!</p>
      </div>
    </article>
    <article>
      <div class="text">
        <h3><%= i %></h3>
        <p>Here is a sentence about a really great study resource! Currently the cards need a longer sentence to render properly</p>
      </div>
    </article>
    <!-- <% } %> -->
  </main>
</div>
