<div class="container">
  <main class="grid">
    <% for (const pin of pins) { %>
      <article>
        <a href="/pins/<%= pin.id %>">
          <div class="image">
            <img src="<%= pin.image_url %>" alt="<%= pin.image_alt %>">
          </div>
        </a>
        <div class="meta-text">
          <a href="/pins/<%= pin.id %>" class="text-link">
            <h3><%= pin.title %></h3>
          </a>
          <div class="icon-username">
            <i id="comment-icon" class="fa-solid fa-user"></i>
            <a href="/users/<%= pin.owner_id %>" class="username">
              <h5><%= pin.owner_name %></h5>
            </a>
          </div>
        </div>
      </article>
    <% } %>
    <article class="hidden-article"><div class="image"></div></article>
    <article class="hidden-article"><div class="image"></div></article>
    <article class="hidden-article"><div class="image"></div></article>
    <article class="hidden-article"><div class="image"></div></article>
    <article class="hidden-article"><div class="image"></div></article>
  </main>
</div>
