<div class="container">
  <main class="grid">
    <% for (const pin of pins) { %>
      <article>
        <div class="text">
          <!-- Displaying the pin's image -->
          <div class="image-container">
            <a href="/pins/<%= pin.id %>">
              <img src="<%= pin.image %>" alt="<%= pin.title %>">
            </a>
          </div>
          
          <!-- Displaying the pin's title -->
          <a href="/pins/<%= pin.id %>" class="title">
            <h3><%= pin.title %></h3>
          </a>
        </div>
        
        <div class="meta-text">
          <div class="icon-username">
            <i id="comment-icon" class="fa-solid fa-user"></i>
            <!-- Displaying the owner's name -->
            <a href="/users/<%= pin.owner_id %>" class="username">
              <h5><%= pin.owner_name %></h5>
            </a>
          </div>
        </div>
      </article>
    <% } %>
  </main>
</div>
