<div class="nav-container">
<nav>
  <div id="left-nav">
    <a href="/pins/"><img src="/assets/drawing1.png" alt="Linkfolio logo" /></a>
  </div>
  <div class="search">
    <form method="GET" action="/pins/">
      <div class="search-bar">
        <input type="search" class="fontAwesome" id="query" name="q" placeholder="&#xF002;" value="" autocomplete="off">
      </div>
      <div id="search-dropdown">
        <div class="search-categories">
          <% for (const category of categories) { %>
            <input type="radio" value="<%= category.id %>" name="category" id="search-<%= category.id %>" class="category-button" data-category="<%= category.title %>" />
            <label for="search-<%= category.id %>"><%= category.title %></label>
          <% } %>
          <input type="radio" name="category" checked="true" value="none"></input>
        </div>
      </div>
    </form>
  </div>
  <div id="right-nav">
    <% if (userId) { %>
      <a href="/pins/new" class="hover-gray"><i class="fa-solid fa-plus"></i></a>
      <a href="/users/<%= userId %>" class="hover-gray"><i class="fa-solid fa-user hover"></i></a>
      <% } %>
  </div>
</nav>
</div>
