<div class="user-info">
    <h2 class="user-name"><%= profile.name %></h2>
    <div class="user-details">
        <span class="user-username">
            @<%= profile.username %>
        </span>
        <span class="user-pronouns">
            <%= profile.pronouns %>
        </span>
    </div>
    <p class="user-pins">
        <%= pins.length %> Ideas Pinned
    </p>
    <p class="user-about">
        <%= profile.about_me %>
    </p>
    <% if (userId == profile.id) { %>
        <a href="/users/<%= profile.id %>/edit" class="edit-profile-btn">Edit Profile</a>
    <% } %>
</div>
