<!DOCTYPE html>
<html lang="en">

<head>
  <title>Linkfolio</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/pins_show.css" />

  <!-- Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_nav.ejs') %>
    <div id="pin">
      <a href="/pins/" class="close-button"><i class="fa-solid fa-x"></i></a>
      <div class="pin-container">
        <div class="text">
          <h1><%= pin.title %></h1>
          <!-- Note to incorporate back arrow instead of "x" button -->
          <p><%= pin.description %></p>
        </div>
        <div id="pin-img">
          <a target="_blank" href="<%= pin.url %>"><img src="<%= pin.image %>"
              alt="Human hand pointing to glowing node in graph with blue background" /></a>
        </div>
        <p class="tag"><%= pin.category_name %></p>
        <div id="heart-stars">
          <i class="fa-regular fa-heart"></i>
          <!-- Display filled heart (below) dynamically if user has liked pin: -->
          <!-- <a href=""><i class="fa-solid fa-heart"></i></a> -->
          <!-- <div class="stars empty">
          <a href=""><i class="fa-regular fa-star"></i></a>
          <a href=""><i class="fa-regular fa-star"></i></a>
          <a href=""><i class="fa-regular fa-star"></i></a>
          <a href=""><i class="fa-regular fa-star"></i></a>
          <a href=""><i class="fa-regular fa-star"></i></a>
        </div> -->
          <div class="stars full">
            <a href=""><i class="fa-solid fa-star"></i></a>
            <a href=""><i class="fa-solid fa-star"></i></a>
            <a href=""><i class="fa-solid fa-star"></i></a>
            <a href=""><i class="fa-solid fa-star"></i></a>
            <a href=""><i class="fa-solid fa-star"></i></a>
          </div>
        </div>
        <div class="comments">
          <% for (const comment of comments) { %>
            <article class="comment">
              <div class="comment-user">
                <i id="comment-icon" class="fa-solid fa-user"></i>
                <div class="comment-name-date">
                  <h5><%= comment.name %></h5>
                  <h6><%= comment.created_at %></h6>
                </div>
              </div>
              <p><%= comment.description %></p>
            </article>
            <hr>
            <% } %>
            <% if (userId) { %>
              <form method="POST" action="/api/pins/<%= pinId %>/comments" id="comment-form">
                <input type="text" id="add-comment" name="description" placeholder="Add a comment">
              </form>
            <% } %>
        </div>
      </div>
    </div>
</body>
</html>
